body{
  background: #131313!important;
  width: 100vw;
  height: 100vh;
}
.container{
  height: 100%;
  .row{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .col{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      flex-wrap: wrap;
      transform-style: preserve-3d;
      .box{
        position: relative;
        width: 300px;
        height: 400px;
        margin: 40px;
      }
    }
  }
}